<div class="app-container">
    <app-sidebar class="app-sidebar"></app-sidebar>

    <div class="main-content">
        <app-header class="app-header"></app-header>

        <div class="content-wrapper">
            <div class="ended-auctions-container">
                <h1>Završene aukcije</h1>
                <app-auction-list [auctionItems]="endedAuctions" [isEndedAuctions]="true"></app-auction-list>
            </div>
        </div>

        <app-footer class="app-footer"></app-footer>
    </div>
</div>